.header-body {
    
}

.header {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    border-bottom: 1px solid var(--color-bg-main);
    margin-bottom: 1.25rem;
}

.header > .image {
    grid-column-start: 1;
    width: 2rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.header > div > span {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.header > .title {
    grid-column-start: 2;
    width: 20rem;
    padding: 0.5rem;
}

.header > .album {
    grid-column-start: 3;
    width: 20rem;
    padding: 0.5rem;
}

.header > .duration {
    grid-column-start: 4;
    width: 6rem;
    padding: 0.5rem;
}

.track {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    border-radius: 0.75rem;
}

.track:hover{
    background-color: var(--color-bg-main);
}

.track > .image {
    padding: 0.5rem;
    grid-column-start: 1;
    text-align: center;
}

.track > .image > img {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
}

.track > .title {
    grid-column-start: 2;
    padding: 0.5rem;
}

.track > .title > .track-title {
    margin-bottom: -0.25rem;
}

.track > .title > .track-title > span {
    color: var(--color-text-main);
}

.track > .title > .artist-name > span {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.track > .album {
    grid-column-start: 3;
    padding: 0.5rem;
}

.track > .duration {
    grid-column-start: 4;
    padding: 0.5rem;
}

.track > div > span {
    color: var(--color-text-secondary);
}

.track-highlight{
    background-color: var(--color-highlight);
}

.modal {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.modal-box {
    padding: 30px;
    background-color: var(--color-bg-card);
    border-radius: 10px;
}

.modal-header {
    padding-bottom: 10px;
}

.modal-body > select{
    padding: 10px;
}

.modal-action {
    display: flex;
    flex-direction: row-reverse;
}

.modal-action > button {
    margin-left: 10px;
} 

.highlight-header{
    display: flex;
    flex-wrap: wrap;
}

.highlight-header > .btn-add-to-playlist{
    margin-top: 5px;
}

.track-select-off {
    border: 2px solid var(--color-bg-main);
    padding: 5px 12px;
    border-radius: 9999px;
    cursor: pointer;
}

.track-select-off:hover {
    border: 2px solid var(--color-primary);
}

.track-select-on {
    border: 2px solid var(--color-bg-main);
    padding: 5px 12px;
    border-radius: 9999px;
    cursor: pointer;
}

.track-select-on:hover {
    border: 2px solid var(--color-primary);
}

@media all and (max-width: 720px) {
    .header {
        display: none;
    }

    .track {
        cursor: pointer;
        display: flex;
        border-radius: 0.75rem;
    }

    .album {
        display: none;
    }

    .duration {
        display: none;
    }
}