:root {
    --color-primary: #FA6791;
    --color-bg-main: #242526;
    --color-bg-card: #18191A;
    --color-bg-card-hover: #3A3B3C;

    --color-text-main: #F5F5F5;
    --color-text-secondary: #B3B3B3;

    --color-red: #E84141;
    --color-highlight: #47424A;
}