:root {
    --color-primary: #FA6791;
    --color-bg-main: #F0F0F0;
    --color-bg-card: #FFFFFF;
    --color-bg-card-hover: #F8F8F8;

    --color-text-main: #4C4C4D;
    --color-text-secondary: #737373;

    --color-red: #E84141;
    --color-highlight: #E3F4FF;
}