.home-page {
    padding: 1.25rem;
    background-color: var(--color-bg-card);
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);	
    border-radius: 0.75rem;
}

.user-card {
    display: flex;
}

.home-action {
    display: flex;
    margin: 20px 0px 10px 0px;
}

.home-page > .user-card > .image {
    margin-right: 1.25rem;
}

.home-page > .user-card > .image > img {
    object-fit: cover;
    border-radius: 9999px;
    width: 4rem;
    height: 4rem;
}

.home-page > .user-card > .info {
    margin-right: 1.25rem;
}

.home-page > .user-card > .info > span {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--color-text-main);
}

.home-page > .btn-logout {
}

.btn-logout > a {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 2px solid var(--color-red);
    border-radius: 9999px;
    color: var(--color-red);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.btn-logout > a:hover {
    background-color: var(--color-red);
    color: white;
}

.login-page {
    background-color: var(--color-bg-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page > .login-card {
    
}

.login-page > .login-card > .image {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.login-page > .login-card > .image > img {
    width: 9rem;
}

.btn-login > a {
    background-color: #1ED760;
    width: 13rem;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
}

.btn-login > a:hover {
    background-color: var(--color-text-main);
}

.btn-mode > span {
    border: 2px solid var(--color-text-secondary);
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
    cursor: pointer;
}

.btn-mode > span:hover{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

@media all and (max-width: 720px) {
    .home-page {	
        border-radius: 0;
    }
} 