.search-page {
    background-color: var(--color-bg-card);
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);	
    border-radius: 0.75rem;
}

.search-page > .search-header {
    position:relative;
    width:100%;
}

.search-page > .search-header > i{
    position:absolute;
    top:10;
    left:110;
}

.search-page > .search-header > input {
    border: 0;
    margin-bottom: 1.25rem;
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    padding-left: 1.25rem;
    padding-right: 1.25rem;	
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
}

@media all and (max-width: 720px) {
    .search-page {	
        border-radius: 0;
    }
} 