.track-page {
    margin-bottom: 100px;
}

.track-page > .track-over > .image {
    padding-bottom: 1.25rem;
}

.track-page > .track-over > .image > img {
    border-radius: 0.25rem;
    width: 13rem;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.6);
}

.track-page > .track-over > .info {
    padding: 1.25rem 0px;
}

.track-page > .track-over > .info > .title {
    margin-bottom: 1.25rem;
}

.track-page > .track-over > .info > .title > span {
    font-size: 4.5rem;
    line-height: 1;
    color: var(--color-text-main);
    font-weight: 700;
}

/* .track-page > .track-over > .info > .artist {
    
} */

.track-page > .track-over > .info > .artist > span {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-text-secondary);
}

.track-page > .action {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.btn-add-to-playlist {
    margin-right: 0.75rem;
}

.btn-add-to-playlist > span {
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    background-color: var(--color-primary);
    text-decoration: none;
}

.btn-add-to-playlist > span:hover {
    background-color: var(--color-text-main);
}

.btn-add-to-playlist > span > i {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-right: 0.25rem;
}

/* .btn-play {
    
} */

.btn-play > a {
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-text-main);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    border: 2px solid var(--color-text-main);
    text-decoration: none;
}

.btn-play > a:hover {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-play > a > i {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-right: 0.25rem;
}

@media all and (max-width: 720px) {
    .track-page{
        margin-bottom: 30px;
    }
    .track-over {
        position:relative;
        display: flex;
        flex-direction: column-reverse;
    }
    /* .track-page > .track-over > .image {
        
    } */
    .track-page > .track-over > .image > img {
        width: 100%;
        box-shadow: none;
    }
    .track-page > .track-over > .info {
        position:absolute;
        padding: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 24px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
    .track-page > .track-over > .info > .title {
        margin-bottom: 0.75rem;
    }
    .track-page > .track-over > .info > .title > span {
        font-size: 2.4rem;
        line-height: 1;
        color: white;
    }
    .track-page > .track-over > .info > .artist > span {
        color: white;
    }
    .track-page > .action {
        padding: 1.25rem;
        margin-top: 0px;
    }
    
}